body {
	background-image: url("/bitly-clone/bckimage.jpeg");
	
	margin:auto;
	text-align: center;
	
}
form { 
	column-width: 800px
	text-align: center;

}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: pink;
}