

<h1>This is the page to sign up</h1>

<form action="/create_user" method="posts ">
	Name:<br>
	<input type="text" name="name">
	<br>
	Email:<br>
	<input type="string" name="email">
	<br><br>
	<input type="submit" value="submit">
</form>


 